html {
  background-color: rgb(65, 62, 62);
  font-family: gilroy;
  color: white;
  font-weight: bold;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 225px;
  height: 225px;
}
#header {
  text-align: center;
}
#container {
  /* border: 1px solid hotpink; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sub {
  padding-left: 550px;
  color: rgb(151, 151, 151);
}
.label {
  /* border: 1px solid red; */
  text-align: center;
  margin-bottom: 15px;
  font-size: 15px;
}
.box {
  /* border: 1px solid blue; */
  text-align: center;
  margin-bottom: 15px;
}
.input {
  background-color: rgba(123, 123, 123, 1);
  color: white;
  border-radius: 5px;
}
.button {
  background-color: rgba(125, 168, 182, 1);
}
.card {
  /* border: 1px solid orange; */
  height: 100px;
  width: 200px;
}

.z {
  border: 1px solid orange;
  justify-content: center;
  align-items: center;
}
.record {
  border: 1px solid red;
}
